body{
    font-family: "Arial", "Arial Narrow", sans-serif;
    margin: 0;
}

/*Style menu class*/
.menu{
    margin-top: 0;
    background-color: #eeeeee;
    list-style: none;
    padding: 1.5rem;
    text-align: right;
}

nav {
    /*Drop Shadow from W3Schools https://www.w3schools.com/cssref/css3_pr_box-shadow.asp*/
    box-shadow: 0 0.5rem 0.5rem 0 #aaaaaa,0 0.5rem 0.5rem 0 #999999;
}

.menu li{
    display: inline;
}
.menu li a{
    text-decoration: none;
    padding: 1rem;
    color: #333333;
    font-size: 1.25rem;
    border-radius: 0.5rem ;
}

.float{
    float: left;
}

.menu li a:hover{
    background-color: #cccccc;
}

/*Media Queries for Responsiveness from https://css-tricks.com/css-media-queries/*/

@media all and (max-width: 725px){
    .float{
        float: none;
    }
    .menu li a{
        text-align: center;
        display: block;
    }
}